<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Factura</title>
    </head>
    <body>
        <div class="factura-container">
            <h1>Factura #<%= params[:factura_id] %></h1>
            <h3>Cliente: <%= @factura_info.first['NombreCliente'] %></h3>
            <h3>Fecha: <%= @factura_info.first['FechaEmision'] %></h3>

            <table class="factura-container-table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Impuestos</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                <% @factura_info_agrupada.each do |item| %>
                    <tr>
                        <td><%= item['NombreProducto'] %></td>
                        <td><%= item['Cantidad'] %></td>
                        <td>₡<%= number_with_precision(item['PrecioUnitario'].to_f * item['Cantidad'].to_f, precision: 2) %></td>
                        <td><%= item['Impuestos'] %></td>
                        <td>₡<%= number_with_precision(item['Total'], precision: 2) %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>

            <h3>Total Factura: ₡<%= number_with_precision(@total_factura, precision: 2) %></h3>
            <button onclick="window.print()" class="factura-btn factura-btn-edit">Descargar PDF</button>
            <form action="/cliente/factura" method="get">
                <button type="submit" class="factura-btn factura-btn-back">Volver</button>
            </form>
        </div>
    </body>
</html>