<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movimientos Stock</title>
    </head>
    <body>
      <div class="admin-reset admin-container admin-stock-container">
        <h1 class="admin-title">Movimientos</h1>

        <table class="admin-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Nota</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <% @movimientos.each do |movimiento| %>
                <tr>
                  <td><%= movimiento['Nombre'] %></td>
                  <td><%= movimiento['Tipo'] %></td>
                  <td><%= movimiento['Cantidad'] %></td>
                  <td><%= movimiento['Nota'] %></td>
                  <td><%= movimiento['Fecha'] %></td>
                </tr>
              <% end %>
            </tbody>
        </table>

        <form action="/admin/home" method="get">
          <button type="submit" class="admin-btn admin-btn-back">Volver</button>
        </form>
      </div>
    </body>
</html>